
.header{
    background-color: beige;
}
.welcome{
    color: gray;
}

.table-info{
    width: 500px;
    text-align: center;
}
.admin{
    background-color: whitesmoke;
    text-align: center;
    
}

.taker{
    background-color: whitesmoke;
    text-align: center;
}

.label{
    padding-bottom: 30px;
    font-size: 30px;
}

.bg{
    background-color: whitesmoke;
}

.body{
    background-color: blueviolet;
}
.nav-item{
    padding-right: 50px;
}

.navbar navbar-expand-lg { 
    background-color: lightgreen; 
} 